<main class="main-content">

  <div class="content-wrap">

    <section class="products">

      <header class="products-header">
        <h1 class="products-header__title">Today in Tech</h1>
        <nav class="products-header__nav">
          <a class="products-header__nav-item" href="#">Popular</a>
          <a class="products-header__nav-item products-header__nav-item--active" href="#">Newest</a>
        </nav>
      </header>

      <div class="products-list">

        <%# @products.each do |product| %>

          <%#= render partial: 'product', locals: { product: product } %>
          <%#= render 'product', product: product %>

        <%# end %>

        <%= render @products %>

      </div>

    </section>

  </div>

</main>
