<%= render 'static_pages/product', product: @product %>

<% if user_signed_in? %>

  <%= render 'comments/form', product: @product, comment: @comment %>

<% else %>

  <p>You need to sign up or login to post a comment</p>

<% end %>

<%= render 'comments/comments', comments: @comments %>
