*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'proxima-nova-regular';
  src: url('fonts/ProximaNova-Regular.otf');
}

.group:after {
  display: table;
  content: "";
  clear: both;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'proxima-nova-regular', 'Helvetica Neue', 'Helvetica', sans-serif;
  background: #DDD;
  margin: 0;
  font-size: 1.6rem;
}
p {
  line-height: 1.6;
}

.content-wrapper {
  background-color: #FFFFFF;
}
@media (min-width: 1400px) {
  .content-wrapper {
    width: 1400px;
    margin: 0 auto;
  }
}

.main-header {
 padding: 20px;
 background: #FFF;
 display: flex;
 justify-content: space-between;
  align-items: center;
}
.logo {
  height: 80px;
}
.main-nav {

}
.main-nav-link {
  text-decoration: none;
  color: #222;
  text-transform: uppercase;
  margin-left: 50px;
}
.main-nav-link:hover {
  color: purple;
}



.hero {
  color: #FFF;
  padding: 100px 25%;
  text-align: center;
  background-image: url('images/students-bg-cropped.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.hero-title {
  text-transform: uppercase;
  font-size: 4.2rem;
}
.hero-description {
  font-size: 1.8rem;
  line-height: 2;
}


.products {
  padding: 30px;
  display: -webkit-flex;
  display: flex;

  -webkit-justify-content: space-between;
  justify-content: space-between;

  flex-wrap: wrap;
  align-items: center;
}

.product {
  border: 1px solid #BBB;
  background: #EEE;
  margin-bottom: 20px;
  padding: 30px;
}
.product:hover {
  background: #CCC;
}
@media (min-width: 800px) {
  .product {
    width: 49%;
  }
}
@media (min-width: 1400px) {
  .product {
    width: 31.33%;
  }
}
.product-logo {
 max-height: 120px;
 max-width: 100%;
 display: block;
 margin: 10px auto 40px;
}

