html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.3;
  color: $charcoal;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 16px;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 2.0rem;
}