<!DOCTYPE html>
<html>
  <head>
    <title>ProductHunt</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="main-header">

      <div class="content-wrap">

        <div class="main-header__inner-wrap">

          <div class="main-header__left">

            <div class="logo"></div>

            <div class="search">
              <input class="search__input" type="search" placeholder="Discover your next favourite thing...">
            </div>

          </div>

          <div class="main-header__right">
            <a href="#" class="login">Login</a>
          </div>

        </div>

        <nav class="main-nav">
          <ul class="main-nav__items">
            <li class="main-nav__item">
              <a class="main-nav__link main-nav__link--active" href="#">Tech</a>
            </li>
            <li class="main-nav__item">
              <a class="main-nav__link" href="#">Games</a>
            </li>
            <li class="main-nav__item">
              <a class="main-nav__link" href="#">Books</a>
            </li>
            <li class="main-nav__item">
              <a class="main-nav__link" href="#">Podcasts</a>
            </li>
          </ul>
        </nav>

      </div>

    </header>

    <%= yield %>

  </body>
</html>
