.main-header {
  background: #FFF;
  box-shadow: 0 2px 2px #EEE;
}
.main-header__inner-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #EEE;
}
.main-header__left {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo {
  margin-right: 10px;
  background: url('logo.svg');
  height: 34px;
  width: 35px;
  background-size: 34px;
}

.search {
  width: 100%;
  position: relative;
}

.search__input {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #f2f2f2;
  font-size: 14px;
  height: 30px;
  padding-left: 32px;
  padding-top: 2px;
  padding-right: 12px;
}
.search::before {
  content: '\F002';
  font-family: 'FontAwesome';
  color: #999;
  font-size: 14px;
  position: absolute;
  left: 8px;
  top: 8px;
  font-weight: 300;
}

.search__input:focus {
  outline: none;
}


.login {
  font-size: 1.2rem;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .6px;
  text-transform: uppercase;
  color: #999;
  margin-left: 20px;
}
.login:hover {
  color: #DA552F;
}



