/***********************************************
  Change box sizing on all elements
  Read why here: http://blog.teamtreehouse.com/box-sizing-secret-simple-css-layouts
***********************************************/

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  /*outline: 1px solid red;*/
}

/***********************************************
  General
***********************************************/

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
  height: 100%;
  font-size: 1.6rem;
  position: relative;
}

.content {
  /*position: relative;*/
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0;
  /*height: 100%;*/
  /*display: flex;
  align-items: stretch;*/
}

/***********************************************
  Header
***********************************************/

.main-header {
  padding: 15px 30px;
  background: #1B2224;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 20px;
}

.search-wrap {
  /* Need this in order to position our magnifying glass icon (see below) */
  position: relative;
}

.search {

  /* Remove default webkit appearance */
  -webkit-appearance: none;
  border: none;

  /* Define padding in em units so that if we change the font size the padding (and the search icon below) scales with it */
  padding: 0.3em 1.6em 0.3em 0.6em;
  border-radius: 1em;

  color: #666;
}

/* Remove annoying outline on search box when you click in it */
.search:focus {
  outline: none;
}

/* Putting that magnifying glass icon inside the search bar */
.search-icon {
  position: absolute;
  right: 0.6em;
  top: 0.3em;
  color: #999;
}

/***********************************************
  Sidebar
***********************************************/

.main-sidebar {
  padding: 20px 30px;
  background: #232B2D;
  border-top: 2px solid #37B298;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  width: 240px;
  overflow-y: auto;
}

.main-nav__links {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-nav__header {
  color: #666;
  text-transform: uppercase;
}
.main-nav__item {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2;
  font-weight: 500;
}
.main-nav__link {
  text-decoration: none;
  color: #888;
}
.main-nav__link-icon {
  margin-right: 10px;
}
.main-nav__item--active .main-nav__link,
.main-nav__item:hover .main-nav__link {
  color: #CCC;
}

/***********************************************
  Main Content
***********************************************/

main {
  padding: 30px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 240px;
  overflow-y: scroll;

}
.page-header {
  border-bottom: 1px solid #DDD;
  margin-bottom: 40px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-header__title {
  margin: 0;
  font-weight: 400;
}
.page-header__filters {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.page-header__filter-item {
  padding: 7px 10px;
  margin-left: 20px;
  border-radius: 5px;
}
.page-header__filter-link {
  text-decoration: none;
  color: #CCC;
}
.page-header__filter-item--active,
.page-header__filter-item:hover {
  background: #37B298;
}
.page-header__filter-item--active .page-header__filter-link,
.page-header__filter-item:hover .page-header__filter-link {
  color: #FFF;
}

/***********************************************
  Gallery
***********************************************/
.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.gallery-item__thumbnail {
  width: 100%;
}
.gallery-item__title {
  margin-top: 5px;
  margin-bottom: 0;
  color: #444;
}
.gallery-item__uploaded-at {
  color: #999;
}
.gallery-item--active,
.gallery-item:hover {
  background: #DDD;
}
