/***********************************************
  Fonts
***********************************************/

@font-face {
  font-family: 'proxima-nova-regular';
  src: url('fonts/ProximaNova-Regular.otf');
}
@font-face {
  font-family: 'proxima-nova-semibold';
  src: url('fonts/ProximaNova-SemiBold.otf');
}
@font-face {
  font-family: 'proxima-nova-light';
  src: url('fonts/ProximaNova-Light.otf');
}

/***********************************************
  Change box sizing on all elements
  Read why here: http://blog.teamtreehouse.com/box-sizing-secret-simple-css-layouts
***********************************************/

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/***********************************************
  The 'clearfix hack'
  Read more about it here: https://css-tricks.com/snippets/css/clear-fix/
***********************************************/

.group:after {
  display: table;
  content: "";
  clear: both;
}

/***********************************************
  General
***********************************************/

body {
  margin: 0;
  background-color: #D9D9D9;
  color: #222222;
  font-family: 'proxima-nova-light', 'Helvetica Neue', 'Helvetica', sans-serif;
}

.wrapper {
  width: 1400px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

/***********************************************
  Header
***********************************************/

.main-header {
  width: 100%;
  padding: 30px;
}
.logo {
  height: 80px;
  float: left;
}
.main-nav {
  float: right;
  font-family: 'proxima-nova-semibold', 'Helvetica Neue', 'Helvetica', sans-serif;
  margin-right: 40px;
}
.main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.main-nav ul li {
  float: left;
  margin-left: 110px;
  line-height: 80px;
}
.main-nav ul a {
  text-transform: uppercase;
  text-decoration: none;
  color: #222;
}
.main-nav ul a:hover {
  color: #7A5B9A;
}

/***********************************************
  Hero
***********************************************/

.hero {
  height: 400px;
  background-image: url('images/students-bg-cropped.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 100px;
}
.hero h1 {
  color: #FFF;
  text-transform: uppercase;
  font-family: 'proxima-nova-semibold';
  font-size: 50px;
  text-align: center;
}
.hero p {
  color: #FFF;
  line-height: 1.6;
  text-align: center;
  font-size: 20px;
  width: 850px;
  margin: 0 auto;
}

/***********************************************
  Content Grid
***********************************************/

.content {
  padding: 40px;
}

.resource {
  height: 300px;
  width: 31.33%;
  margin-right: 3%;
  float: left;
  padding: 30px;
  background-color: #EEE;
  border: 1px solid #CCC;
}
.resource:hover {
  background-color: #CCC;
}
.resource:last-child {
  margin-right: 0;
}
.resource img {
  height: 100px;
  margin: 0 auto 30px;
  display: block;
}
.resource p {
  line-height: 1.5;
}