.main-nav {

}
.main-nav__items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.main-nav__item {
  margin-right: 5px;
}
.main-nav__link {
  display: block;
  color: #999;
  padding: 0 20px;
  font-size: 1.4rem;
  line-height: 50px;
}
.main-nav__link:hover,
.main-nav__link--active {
  background: #f6f6f6;
  color: #222;
}
