.products {
  background: #FFF;
  border: 1px solid #EEE;
  border-radius: 3px;
  -webkit-flex-grow: 1;
          flex-grow: 1;
}
.products-header {
  padding: 20px;
  border-bottom: 1px solid #EEE;
  display: flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}
.products-header__title {
  margin: 0;
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: .2px;
}
.products-header__nav {

}
.products-header__nav-item {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: .6px;
  text-transform: uppercase;
  color: #999;
  padding-right: 5px;
  margin-right: 5px;
  border-right: 1px solid #999;
}
.products-header__nav-item:last-child {
  margin-right: 0;
  border-right: none;
  padding-right: 0;
}
.products-header__nav-item:hover,
.products-header__nav-item--active {
  color: #222;
}



.product {
  padding: 20px 20px 0;
}
.product:hover {
  background: #f9f9f9;
}
.product__wrap {
  border-bottom: 1px solid #EEE;
  display: flex;
  padding-bottom: 20px;
}
.product__image {
  height: 110px;
  width: 110px;
  margin-right: 20px;
}
.product__title {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #444;
  font-size: 2rem;
  font-weight: 300;
}
.product__description {
  margin-top: 0;
  margin-bottom: 10px;
  color: #444;
  font-size: 1.4rem;
  font-weight: 400;
}
.product__link {
  color: #555;
  font-size: 1.2rem;
  background: #FFF;
  border: 1px solid #EEE;
  margin-right: 10px;
  padding: 8px;
  border-radius: 3px;
  text-transform: uppercase;
}
.product__link:hover {
  background: #f2f2f2;
}
.product__link:before {
  display: inline-block;
  font-family: 'FontAwesome';
  margin-right: 5px;
}

.product__link--upvote:before {
  content: "\f0d8";
}

.product__link--comment:before {
  content: "\f075";
}