.group:after {
  display: table;
  content: "";
  clear: both;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}




.content-wrap {
  width: 900px;
  margin: 0 auto;
}

.main-header {
}

.top-header {
  border-bottom: 1px solid #DDD;
  padding: 20px;
}
.logo {
  float: left;
  width: 300px;
}
.logo h1 {
  margin: 0;
  font-size: 1.8rem;
  color: #DA552F;
  line-height: 40px;
}
.logo:before {
  margin-right: 10px;
  float: left;
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  content: 'P';
  color: white;
  background: #DA552F;
  -webkit-border-radius: 50%;
          border-radius: 50%;

}
.search {
  -webkit-border-radius: 10px;
          border-radius: 10px;
}
.login {
  float: right;
  color: #CCC;
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 40px;
}
.login:hover {
  color: #DA552F;
}
.add-new-post {
  margin-top: 5px;
  margin-left: 20px;
  font-size: 1.8rem;
  float: right;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  color: white;
  background: #DA552F;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-decoration: none;r
}



.main-nav {
  border-bottom: 1px solid #DDD;
  /*padding: 20px;*/
}
.main-nav-links {
  list-style: none;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
  font-weight: 500;
  color: #BBB;
}
.main-nav-links li {
  text-transform: uppercase;
  float: left;
  margin-right: 20px;
  padding: 15px 0;
}
.main-nav-links li.active,
.main-nav-links li:hover {
  color: #5898F1;
  border-bottom: 3px solid #5898F1;
}



.day-header {
  text-align: center;
  padding: 20px 0;
}
.day-header h2 {
  text-transform: uppercase;
  font-size: 2rem;
  color: #222;
  margin: 0;
}
.day-header span {
  font-size: 1.4rem;
  color: #AAA;
}


.post {
  padding: 10px;
  /*background: red;*/
}
.post:hover {
  background: #EEE;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}
.vote-wrap {
  font-size: 1.3rem;
  width: 60px;
  float: left;
  text-align: center;
}
.post-content {
  float: left;
}
.post-title {
  color: #BBB;
  font-size: 2rem;
  margin: 0;
}
.post-description {
  font-size: 1.7rem;
  color: #999;
  margin: 10px 0 0 0;
}
.post-meta {
  width: 100px;
  float: right;
}
.post-creator {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 34px;
  height: 34px;
  float: right;

}
.post-comments {
  margin-left: 30px;
  line-height: 34px;
  float: right;
  font-size: 1.6rem;
  color: #BBB;
}







